:root {
  /* Modo oscuro (valores por defecto) */
  --bg-color: #18181b;
  --sidebar-color: #18181b;
  --card-color: #233647;
  --card-shadow: rgba(0, 0, 0, 0);
  --text-color: #ffffff;
  --header-color: #ffffff;
  --table-header: #343a40;
  --table-bg: #343a40;
  --table-border: #454d55;
  --hover-color: #f43f5e;
  --active-color: #404040;
  --main-font: "Poppins", sans-serif;
  --h1-dark-color: #ffffff;
}

[data-theme="light"] {
  /* Modo claro */
  --h1-color: #18181b;
  --bg-color: #fafaf9;
  --sidebar-color: #18181b;
  --card-color: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --text-color: #ffffff;
  --header-color: #2c3e50;
  --table-header: #f43f5e;
  --table-bg: #ffffff;
  --table-border: #dee2e6;
  --hover-color: #be123c;
  --active-color: #40404048;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}
.navbar {
  padding: 0.7rem 1rem;
}
.container-dashboard {
  display: flex;
  height: calc(100dvh - 62px);
}
/* SIDEBAR ASIDE */
.aside {
  width: 270px;
  border-right: 1px solid var(--active-color);
  display: none;
}

.sidebar {
  background-color: var(--sidebar-color);
  height: 100%;
}
/* Image profile */
.image-profile-sidebar {
  max-width: 7rem;
  margin: 1rem auto 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.image-profile-sidebar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
}
/* Username Dropdown */

.username {
  color: #fff;
  font-weight: 600;
}
.dropdown-menu[data-bs-popper] {
  background-color: var(--sidebar-color);
  color: #fff;
  border: 1px solid var(--active-color);
}
.dropdown-menu-end[data-bs-popper] {
  left: 0;
}
@media (min-width: 768px) {
  .dropdown-menu-end[data-bs-popper] {
    left: auto;
  }
  .col-md-3 {
    width: auto;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .description-total-resumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aside {
    display: block;
  }
}

/* Username Sidebar */
.image-profile-sidebar {
  text-align: center;
  font-weight: 600;
  color: #fff;
}

/* Sidebar navlinks */
.sidebar .nav-link {
  color: var(--text-color);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar .nav-link.active,
.sidebar .nav-link:hover {
  background-color: var(--active-color);
  color: white;
}
.dropdown-divider {
  border-top: 1px solid var(--active-color);
}
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--active-color);
  color: #fff;
}
.btn-logout {
  background-color: #f87171;
  width: 100%;
  border-radius: 9999px;
  border: none;
  padding: 0.5rem;
  transition: 0.2s ease;
}
.btn-logout:hover {
  background-color: #ef4444;
}
/* MAIN */

.main-content {
  padding: 2rem;
  max-width: 1200px;
  overflow: auto;
}

.dashboard-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.dashboard-title p {
  color: var(--h1-color);
  font-weight: 500;
}

.dashboard-title img {
  width: 60px;
  height: auto;
}

h1 {
  color: var(--h1-color);
  font-size: 1.7rem;
  letter-spacing: 1px;
}

h2,
h3 {
  font-size: 1.2rem;
  color: #737373;
}

/* Resumen */

.card {
  background-color: var(--bg-color);
  border: 1px solid var(--active-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--card-shadow);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-header {
  background-color: var(--table-header);
  color: white;
}

/* Estilos para tablas */
.table {
  color: var(--text-color);
  background-color: var(--table-bg);
  margin: 0;
}

.table-dark {
  --bs-table-bg: var(--table-header);
  --bs-table-striped-bg: var(--sidebar-color);
  --bs-table-hover-bg: var(--hover-color);
  border-color: var(--table-border);
}
.navbar-brand {
  font-weight: 600;
}
.navbar-brand,
.nav-link,
.dropdown-item {
  transition: color 0.3s ease;
  cursor: pointer;
  color: #fff;
}
/* Estilos para el dropdown con hover */
.dropdown-hover:hover .dropdown-hover-menu {
  display: block;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-hover-menu {
  display: none;
  position: absolute;
  left: 20px;
  top: 100%;
  opacity: 0;
  transform: translateY(-90px);
  visibility: hidden;
  transition: all 0.3s ease;
  min-width: 200px;
  background-color: var(--sidebar-color);
  border: 1px solid var(--active-color);
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Estilos para los items del dropdown */
.dropdown-hover-menu .dropdown-header {
  font-weight: bold;
  border-bottom: 1px solid var(--active-color);
}

.dropdown-hover-menu .dropdown-item {
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}

.dropdown-hover-menu .dropdown-item:hover {
  background-color: var(--active-color);
  color: white;
  padding-left: 1.2rem;
}

/* Mantener consistencia con el tema */

[data-theme="light"] .dropdown-hover-menu .dropdown-item {
  color: var(--text-color);
}

[data-theme="light"] .dropdown-hover-menu .dropdown-item:hover {
  background-color: var(--hover-color);
}
