:root {
  /* Modo oscuro (valores por defecto) */
  --bg-color: #18181b;
  --sidebar-color: #18181b;
  --card-color: #233647;
  --card-shadow: rgba(0, 0, 0, 0);
  --text-color: #ffffff;
  --header-color: #ffffff;
  --table-header: #343a40;
  --table-bg: #343a40;
  --table-border: #454d55;
  --hover-color: #f43f5e;
  --active-color: #404040;
  --main-font: "Poppins", sans-serif;
  --h1-dark-color: #ffffff;
  --shadow: 0 10px 25px #5f5f5f1b;
  --shadow-hover: 0 10px 20px #0000002c;
}

[data-theme="light"] {
  /* Modo claro */
  --h1-color: #18181b;
  --bg-color: #fafaf9;
  --sidebar-color: #18181b;
  --card-color: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.1);
  --text-color: #ffffff;
  --header-color: #2c3e50;
  --table-header: #f43f5e;
  --table-bg: #ffffff;
  --table-border: #dee2e6;
  --hover-color: #be123c;
  --active-color: #40404048;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100dvh;
}

/* NAVBAR */
.navbar-brand {
  font-weight: 600;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.username {
  color: #fff;
  font-weight: 600;
}
.dropdown-item {
  color: #fff;
}
.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--active-color);
  color: #fff;
}
.dropdown-divider {
  border-top: 1px solid var(--active-color);
}
.dropdown-menu[data-bs-popper] {
  background-color: var(--sidebar-color);
  color: #fff;
  border: 1px solid var(--active-color);
}
.dropdown-menu-end[data-bs-popper] {
  left: 0;
}
/* MAIN CONTENT */
.back-button {
  margin: 0.5rem 0 0 0.5rem;
  color: #0a0a0a;
  display: inline-block;
  padding: 0.5rem;
}
.back-button:hover {
  color: #2987c1;
}
.back-button a {
  text-decoration: underline !important;
}
section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h1 {
  font-size: 2rem;
  color: var(--h1-color);
  text-align: center;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-weight: 600;
}

.btn,
.btn-primary {
  max-width: 18rem;
  margin: 0 auto;
  background-color: #0a0a0a;
  color: #fff;
  border: none;
  padding: 0.85rem 2rem;
  font-size: 1.1rem;
}
.btn-primary {
  box-shadow: var(--shadow);
}
.btn:hover {
  background-color: var(--active-color) !important;
  color: #fff !important;
}
.btn-danger,
.btn-danger:hover {
  background-color: #dc2626 !important;
}
/* TABLE */
.container-table {
  width: 100%;
  height: calc(100vh - 350px);
  overflow: auto;
  border: 1px solid #0000002e;
  padding: 1rem 0;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  transition: 0.2s ease;
}
.container-table:hover {
  box-shadow: var(--shadow-hover);
}

#table {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem 0;
}
/* MEDIA QUERIES (RESPONSIVE) */
@media (min-width: 768px) {
  .container-table {
    max-width: 1200px;
    margin: 0 auto;
  }
}
